h1 {
    color: slateblue;
    background-color: beige;
    text-align: right;
    font-size: 50px;
    font-family: Helvetica, sans-serif;
}

ul {
    background-color: chartreuse;
}

img {
    width: 200px;
    height: auto;
}

body {
    background-color: lightsalmon;
}